* {
  margin: 0;
  padding: 0;
}


/* MARK: - Header Start */
header {
  height: 50px;
  width: 100%;
  background-color: #2F4F4F;
  padding-bottom: 10px;
}

.header-title {
  color: #F0FFFF;
  font-size: 50px;
  font-family: 'Sacramento', cursive;
  margin-left: 10px;
}
/* MARK: - Header End */

/* MARK: - First Block Start */
#first-block {
  background-image: url("../images/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  padding-top: 130px;
  padding-left: 60px;

}

.info-container {
  background-color: rgba(255, 255, 255, 0.6);
  font-family: cursive;
  height: 360px;
  width: 500px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

h1 {
  font-size: 70px;
  font-family: "Sawarabi Mincho";
}
h3 {
  font-family: "Sawarabi Mincho";
}

.attribution {
  background-color: rgba(0, 73, 118, 0.6);
  color: #fff;
  padding: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.button-container {
  width: 500px;
}

.sns-btn {
  color: #fff;
  font-size: 15px;
  height: 44px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
}

.sns-btn:hover {
  color: #00FFFF;
}

.mybtn-fb {
  background: #3b539a;
  opacity: 0.9;
  border: none;
}

.mybtn-ins {
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  opacity: 0.9;
  border: none;
}
/* MARK: - First Block End */

/* MARK: - Second Block Start */
#second-block {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'PT Sans', sans-serif;
}

.story-title {
  font-size: 70px;
  font-family: fantasy;
  text-align: center;
  padding-left: 90px;
  margin-bottom: 50px;
  width: 90vw;
}

.my-story-container {
  width: 90vw;
}

.my-story {
  padding-left: 90px;
  padding-bottom: 30px;
  font-family: cursive;
}

.my-story-title {
  width: 700px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}
.my-story-body {
  margin-top: 40px;
  width: 700px;
}

.image-first{
  background-image: url("../images/room.jpg");
  background-size:  cover;
  width: 400px;
  height: 200px;
  margin-left: 60px;
}
.image-second{
  background-image: url("../images/cat.jpg");
  background-size:  cover;
  width: 400px;
  height: 200px;
  margin-left: 60px;
}
.image-third{
  background-image: url("../images/coffee.jpg");
  background-size:  cover;
  width: 400px;
  height: 200px;
  margin-left: 60px;
}
/* MARK: - Second Block End */
.container{
  display: flex;
  flex-direction: row;
}

footer {
  background-color: rgba(193, 193, 193, 0.7);
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}
